.tank {
  position: relative;
  min-width: 15vw;
  min-height: 75vh;
  margin-left: 1vw;
  
  box-sizing: border-box;
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
  overflow: hidden;
  border: 2px solid black;
}
.water {
  position: absolute;
  background: url(/src/assets/img/water.gif) center;
  
  right: 0;
  bottom: 0;
  left: 0;
}