.pump_buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;

  max-width: 40%;
  max-height: 30%;
  min-height: 30%;
}

.change_btns {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}