* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Digitals';
  src: url(/src/assets/fonts/digital-7.ttf);
}

body {
  font-size: 16px;
 
}

.btn {
  height: 45px;
  width: 45px;
  border-radius: 50%;
}