* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Digitals';
  src: url(/src/assets/fonts/digital-7.ttf);
}

body {
  font-size: 16px;
  box-shadow: 0px 0px 100px 60px rgba(2, 2, 2, 0.2) inset;
  height: 100vh;
}

.btn {
  height: 45px;
  width: 45px;
  border-radius: 50%;
}