.meter {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 5px 10px;
  margin-left: 5%;
  max-width: 30%;
  max-height: 40%;
  min-height: 160px;
  background-color: rgb(0, 0, 0);

  font-family: Digitals, sans-serif !important;
  font-size: 24px;
  /* color: rgb(0, 255, 0); */
}
.meter__header {
  width: auto;
  height: auto;
  text-align: right;
  padding-bottom: 2px;
  color: rgb(216, 213, 213);
  font-size: 10px;
  letter-spacing: 1px;
}
.meter__footer {
  text-align: left;
  padding-top: 3px;
  color: rgb(216, 213, 213);
  font-size: 12px;
  letter-spacing: 2.5px;
}
.meter__container {
  border: 3px solid grey;
  height: 100%;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}
.meter__container>p{
  background-color: grey;
  height: 30%;
  width: 100%;
}
.n_label {
  padding: 0px 20px;
  color: red;
  background-color: rgb(100, 0, 0) !important;
  text-align: right;
}
.n_label_2 {
  padding: 0px 20px;
  color: rgb(0, 255, 0);
  width: 50% !important;
  background-color: darkgreen !important;
}
.upBtn {
  background: inherit !important;
  padding: 0 !important;
}
.upBtn>svg {
  padding: 0;
}